streamlit>=1.47.0
torch>=2.7.0
torchvision>=0.22.0
numpy>=2.3.0
Pillow>=11.3.0
scikit-learn>=1.7.0
exifread>=3.3.1
opencv-python>=4.12.0
pandas>=2.3.0
tqdm>=4.67.1
clip @ git+https://github.com/openai/CLIP.git